$color-blue--lightest: #f2f9fc;
$color-blue--lighter: #eaf3f8;
$color-blue--light: #daecf6;
$color-blue: #1686e4;
$color-blue--dark: #0768ba;
$color-blue--darkest: #013968;

html, body {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  background: #f1f4f5;
  color: #474747;
  padding: 1px 0;
  box-sizing: border-box;
  min-height: auto;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: system-ui;
}

a {
  text-decoration: none;
  color: $color-blue;
  transition: color 0.2s, background 0.2s;
  outline: none !important;
  border-radius: 2px;
  display: inline-block;
  padding: 0 3px;
  margin: 0 -3px;

  &:hover {
    color: $color-blue--dark;
    background: $color-blue--lighter;
  }
}
