<div style="width: 100%">
  {{#ui-section as |section|}}
    {{#section.body}}

      {{#ui-form onSubmit=(perform submit) as |form|}}
        {{#form.section as |section|}}
          {{#section.title}}
            New Payment
          {{/section.title}}

          {{#section.description}}
            Enter the payment defails here.
          {{/section.description}}

          {{section.divider}}

          {{#ui-flex-layout variant="form" as |layout|}}
            {{#layout.item flex=2 minWidth="150px"}}
              {{#form.row as |row|}}
                {{#row.label}}Amount{{/row.label}}
                {{#row.description}}You need to fill this out.{{/row.description}}
                {{ui-input type="number" requirements=(hash required=true)}}
              {{/form.row}}
            {{/layout.item}}

            {{#layout.item flex=3 minWidth="150px"}}
              {{#form.row as |row|}}
                {{#row.label}}Currency{{/row.label}}
                {{#row.description}}Currency of the payment.{{/row.description}}
                {{#ui-select value=select requirements=(hash required=true) as |select|}}
                  {{select.option}}
                  {{#select.group label="North America"}}
                    {{#select.option
                      value="CAN"
                      searchValue="Canadian Dollar CAD"}}
                        Canadian Dollar
                    {{/select.option}}
                    {{#select.option
                      value="USD"
                      searchValue="United States Dollar USD"}}
                        United States Dollar
                    {{/select.option}}
                    {{#select.option
                      value="MXN"
                      searchValue="Mexican Peso MXN"
                      disabled=true}}
                        Mexican Peso
                    {{/select.option}}
                  {{/select.group}}

                  {{#select.group label="Europe"}}
                    {{#select.option
                      value="EUR"
                      searchValue="European Union Euro EUR"}}
                        European Union Euro
                    {{/select.option}}
                    {{#select.option
                      value="GBP"
                      searchValue="British Pounts GBP"}}
                        British Pounds
                    {{/select.option}}
                  {{/select.group}}

                  {{#select.group label="Africa"}}
                    {{#select.option
                      value="ZAR"
                      searchValue="South African Rand ZAR"}}
                        South African Rand
                    {{/select.option}}
                  {{/select.group}}
                {{/ui-select}}
              {{/form.row}}
            {{/layout.item}}

            {{#layout.item flex=3 minWidth="150px"}}
              {{#form.row as |row|}}
                {{#row.label}}Date Paid{{/row.label}}
                {{#row.description}}When was the amount deposited?{{/row.description}}
                {{ui-select-date locale=locale requirements=(hash required=true)}}
              {{/form.row}}
            {{/layout.item}}
          {{/ui-flex-layout}}

          {{#form.row as |row|}}
            {{#ui-checkbox requirements=(hash required=true) errorMessages=(hash required="Are you lying?")}}
              This information is correct
            {{/ui-checkbox}}
          {{/form.row}}
        {{/form.section}}

        {{#form.submit-button}}
          Submit
        {{/form.submit-button}}

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        {{#if (eq stage 2)}}
          {{#ui-button
            onClick=(action (mut locale) "fr-CA")
            active=(eq locale "fr-CA")
            size="small"}}
              French
          {{/ui-button}}

          {{#ui-button
            onClick=(action (mut locale) "en-CA")
            active=(eq locale "en-CA")
            size="small"}}
              English
          {{/ui-button}}
        {{/if}}
      {{/ui-form}}

    {{/section.body}}
  {{/ui-section}}
</div>
