<div style="width: 100%">
  {{#ui-section as |section|}}
    {{#section.body}}

      {{#ui-form onSubmit=(perform submit) as |form|}}
        {{#form.section as |section|}}
          {{#section.title}}
            Benefactor Request Form
          {{/section.title}}

          {{#section.description}}
            Have a government job and no morals? Introducing BAAS: Bribing as a service.
          {{/section.description}}

          {{section.divider}}

          {{#ui-flex-layout variant="form" as |layout|}}
            {{#layout.item flex=2 minWidth="150px"}}
              {{#form.row as |row|}}
                {{#row.label}}Amount{{/row.label}}
                {{#row.description}}You need to fill this out.{{/row.description}}
                {{ui-input type="number" requirements=(hash required=true)}}
              {{/form.row}}
            {{/layout.item}}

            {{#layout.item flex=3 minWidth="150px"}}
              {{#form.row as |row|}}
                {{#row.label}}Currency{{/row.label}}
                {{#row.description}}More currencies coming soon!{{/row.description}}
                {{#ui-select value=select as |select|}}
                  {{select.option}}
                  {{#select.group label="North America"}}
                    {{#select.option
                      value="CAN"
                      searchValue="Canadian Dollar CAD"}}
                        Canadian Dollar
                    {{/select.option}}
                    {{#select.option
                      value="USD"
                      searchValue="United States Dollar USD"}}
                        United States Dollar
                    {{/select.option}}
                    {{#select.option
                      value="MXN"
                      searchValue="Mexican Peso MXN"
                      disabled=true}}
                        Mexican Peso
                    {{/select.option}}
                  {{/select.group}}

                  {{#select.group label="Europe"}}
                    {{#select.option
                      value="EUR"
                      searchValue="European Union Euro EUR"}}
                        European Union Euro
                    {{/select.option}}
                    {{#select.option
                      value="GBP"
                      searchValue="British Pounts GBP"}}
                        British Pounds
                    {{/select.option}}
                  {{/select.group}}

                  {{#select.group label="Africa"}}
                    {{#select.option
                      value="ZAR"
                      searchValue="South African Rand ZAR"}}
                        South African Rand
                    {{/select.option}}
                  {{/select.group}}
                {{/ui-select}}
              {{/form.row}}
            {{/layout.item}}

            {{#layout.item flex=3 minWidth="150px"}}
              {{#form.row as |row|}}
                {{#row.label}}Date{{/row.label}}
                {{#row.description}}When do you need the money by?{{/row.description}}
                {{ui-select-date }}
              {{/form.row}}
            {{/layout.item}}
          {{/ui-flex-layout}}

          {{#form.row as |row|}}
            {{#ui-checkbox requirements=(hash required=true)}}
              I agree to perform services as requested by my benefactor
            {{/ui-checkbox}}
          {{/form.row}}
        {{/form.section}}

        {{#form.submit-button}}
          Submit
        {{/form.submit-button}}
      {{/ui-form}}

    {{/section.body}}
  {{/ui-section}}
</div>
