{{#if (gt stage 0)}}
  <h2>States</h2>
{{/if}}

{{#if (gt stage 1)}}
  <h2>ARIA</h2>
{{/if}}

{{#if (gt stage 2)}}
  <h2>I18N</h2>
{{/if}}

{{#if (gt stage 3)}}
  <h2>Component Interactions</h2>
{{/if}}
