{{#ui-section as |section|}}
  {{#section.h1}}
    CSS - Variants
  {{/section.h1}}
  {{section.divider}}
  {{#section.body}}
    <ul>
      <li>Every blueprint defines a mixin</li>
      <li>Use it to easily create slight variations of the same thing</li>
    </ul>

    <pre>@mixin bp-button-default(
$radius: 4px,
$height: 38px,
$font-size: 15px,
$padding: 12px,
$background: rgba(255, 255, 255, 1),
$box-shadow__inner: none,
...
) {}</pre>
  {{/section.body}}
{{/ui-section}}
